### 볼린저 밴드 투자 전략
1. 이동 평균선 생성 : 데이터의 20개의 평균을 구한 값
2. 상단 밴드 생성 : 이동 평균선 + ( 2 * 데이터 20개의 표준편차 )
3. 하단 밴드 생성 : 이동 평균선 - ( 2* 데이터 20개의 표준편차 )
4. 하단 밴드보다 주식의 가격이 낮은 경우 구매 
5. 상단 밴드보다 주식의 가격이 높은 경우 판매

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
# 데이터 로드 
df = pd.read_csv('../csv/AAPL.csv')

In [4]:
df.head()

         Date      Open      High       Low     Close  Adj Close       Volume
0  1980-12-12  0.513393  0.515625  0.513393  0.513393   0.410525  117258400.0
1  1980-12-15  0.488839  0.488839  0.486607  0.486607   0.389106   43971200.0
2  1980-12-16  0.453125  0.453125  0.450893  0.450893   0.360548   26432000.0
3  1980-12-17  0.462054  0.464286  0.462054  0.462054   0.369472   21610400.0
4  1980-12-18  0.475446  0.477679  0.475446  0.475446   0.380182   18362400.0

In [6]:
# Date컬럼을 시계열 데이터로 변경 
df['Date'] = pd.to_datetime(df['Date'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9715 entries, 0 to 9714
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       9715 non-null   datetime64[ns]
 1   Open       9714 non-null   float64
 2   High       9714 non-null   float64
 3   Low        9714 non-null   float64
 4   Close      9714 non-null   float64
 5   Adj Close  9714 non-null   float64
 6   Volume     9713 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 531.4 KB

In [8]:
# 결측치나 아니면 무한대 값을 제거 
flag = df.isin([np.nan, np.inf, -np.inf]).any(axis=1)
df = df.loc[~flag]

In [9]:
# Date 컬럼을 인덱스로 변경 
df.set_index('Date', inplace=True)

In [10]:
df.head()

                Open      High       Low     Close  Adj Close       Volume
Date
1980-12-12  0.513393  0.515625  0.513393  0.513393   0.410525  117258400.0
1980-12-15  0.488839  0.488839  0.486607  0.486607   0.389106   43971200.0
1980-12-16  0.453125  0.453125  0.450893  0.450893   0.360548   26432000.0
1980-12-17  0.462054  0.464286  0.462054  0.462054   0.369472   21610400.0
1980-12-18  0.475446  0.477679  0.475446  0.475446   0.380182   18362400.0

In [11]:
# 이동 평균선 : 데이터 20개의 평균 값
# 이동 평균선 컬럼을 하나 생성 
df['center'] = np.nan

C:\Users\EZEN\AppData\Local\Temp\ipykernel_12276\4003339056.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['center'] = np.nan

In [ ]:
mean_data = df.iloc[0:20]['Close'].mean()
df.iloc[19, 6] = mean_data

In [ ]:
df.iloc[19]

In [12]:
for i in range(20, len(df), 1):
    mean_data = df.iloc[i-20 : i]['Close'].mean()
    df.iloc[i-1, 6] = mean_data

df.iloc[18 : 25]

,Open,High,Low,Close,Adj Close,Volume,center
Date,,,,,,,
1981-01-09,0.569196,0.571429,0.569196,0.569196,0.455147,5376000.0,NaN
1981-01-12,0.569196,0.569196,0.564732,0.564732,0.451577,5924800.0,0.554353
1981-01-13,0.546875,0.546875,0.544643,0.544643,0.435513,5762400.0,0.555915
1981-01-14,0.546875,0.549107,0.546875,0.546875,0.437298,3572800.0,0.558929
1981-01-15,0.558036,0.562500,0.558036,0.558036,0.446223,3516800.0,0.564286
1981-01-16,0.555804,0.555804,0.553571,0.553571,0.442653,3348800.0,0.568862
1981-01-19,0.587054,0.589286,0.587054,0.587054,0.469426,10393600.0,0.574442

In [13]:
# df에서 Adj Close의 값만 빼고 모두 제거 
price_df = df[['Adj Close']]
price_df.head()

            Adj Close
Date
1980-12-12   0.410525
1980-12-15   0.389106
1980-12-16   0.360548
1980-12-17   0.369472
1980-12-18   0.380182

In [14]:
# 이동 평균선 생성 : 
# rolling(n) : n개 만큼 데이터를 그룹화하여 연산식을 사용
price_df['center'] = price_df['Adj Close'].rolling(20).mean()

C:\Users\EZEN\AppData\Local\Temp\ipykernel_12276\1799830901.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_df['center'] = price_df['Adj Close'].rolling(20).mean()

In [15]:
price_df.iloc[18:24]

            Adj Close    center
Date
1981-01-09   0.455147       NaN
1981-01-12   0.451577  0.443278
1981-01-13   0.435513  0.444527
1981-01-14   0.437298  0.446937
1981-01-15   0.446223  0.451220
1981-01-16   0.442653  0.454879

In [ ]:
price_df['index'] = range(1, len(price_df)+1)

In [ ]:
price_df.iloc[18:24]

In [16]:
price_df['Adj Close'].rolling(20).std() * 2

Date
1980-12-12          NaN
1980-12-15          NaN
1980-12-16          NaN
1980-12-17          NaN
1980-12-18          NaN
                ...
2019-06-18    15.600074
2019-06-19    16.562154
2019-06-20    17.531771
2019-06-21    17.965400
2019-06-24    18.148862
Name: Adj Close, Length: 9713, dtype: float64

In [17]:
# 상단 밴드 (이동 평균선 + (2 * 20개의 데이터의 표준편차)) , 하단 밴드를 생성 
price_df['ub'] = price_df['center'] + \
    (2 * price_df['Adj Close'].rolling(20).std())

price_df['lb'] = price_df['center'] - \
    (2 * price_df['Adj Close'].rolling(20).std())

C:\Users\EZEN\AppData\Local\Temp\ipykernel_12276\298359035.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_df['ub'] = price_df['center'] + \
C:\Users\EZEN\AppData\Local\Temp\ipykernel_12276\298359035.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_df['lb'] = price_df['center'] - \

In [18]:
price_df.iloc[18:24]

            Adj Close    center        ub        lb
Date
1981-01-09   0.455147       NaN       NaN       NaN
1981-01-12   0.451577  0.443278  0.536950  0.349605
1981-01-13   0.435513  0.444527  0.537019  0.352035
1981-01-14   0.437298  0.446937  0.535789  0.358084
1981-01-15   0.446223  0.451220  0.530255  0.372186
1981-01-16   0.442653  0.454879  0.524151  0.385608

In [ ]:
# price_df에서 하단의 1000개의 데이터
# center, ub, lb 데이터를 plot 그래프 표시 
price_df.tail(1000)

plt.figure(figsize=(20, 8))
plt.plot(price_df[['ub', 'lb', 'Adj Close']].tail(1000))
plt.legend(['ub', 'lb', 'Adj Close'])
plt.show()

In [20]:
# 투자 기간을 선택 
start = "2000-01-01"

start = datetime.strptime(start, '%Y-%m-%d')

test_df = price_df.loc[start:]

In [21]:
# 보유 내역 컬럼을 생성 
test_df['trade'] = ""

C:\Users\EZEN\AppData\Local\Temp\ipykernel_12276\3187066549.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['trade'] = ""

### 보유 내역 추가 
- 조건식 
    - 상단 밴드보다 수정 주가가 높은 경우 
        - 현재 보유 상태라면
            - 매도 (trade = "")
        - 현재 보유중이 아니라면
            - 아무 행동도 하지 않는다. (trade ="")
    - 상단 밴드와 하단 밴드 사이에 수정 주가가 존재하는 경우
        - 현재 보유 상태라면
            - 아무 행동도 하지 않는다. (trade = "buy")
        - 현재 보유중이 아니라면 
            - 아무 행동도 하지 않는다. (trade = "")
    - 하단 밴드보다 수정 주가가 낮은 경우
        - 현재 보유 상태라면
            - 아무 행동도 하지 않는다 (trade = 'buy')
        - 현재 보유중이 아니라면
            - 매수 (trade = 'buy')

In [22]:
test_df.head(1)

            Adj Close    center        ub        lb trade
Date
2000-01-03   3.502161  3.220189  3.614986  2.825392

In [26]:
test_df.index[2]

Timestamp('2000-01-05 00:00:00')

In [27]:
for i in test_df.index:
    # i는 test_df의 index 값들이 대입 

    # 상단 밴드보다 수정 주가가 높은 경우
    if test_df.loc[i, 'Adj Close'] > test_df.loc[i, 'ub']:
        # 현재 보유 중이라면? -> 전날의 trade가 buy라면
        if test_df.shift().loc[i, 'trade'] == 'buy':
            # 매도 
            test_df.loc[i, 'trade'] = ""
        else:
            # 아무 행동도 하지 않는다. 
            test_df.loc[i, 'trade'] = ""
    # 하단 밴드보다 수정 주가가 낮은 경우 
    elif test_df.loc[i, 'Adj Close'] < test_df.loc[i, 'lb']:
        # 현재 보유 상태라면?
        if test_df.shift().loc[i, 'trade'] == "buy":
            # 아무 행동도 하지 않는다. 
            test_df.loc[i, 'trade'] = "buy"
        else:
            # 매수
            test_df.loc[i, 'trade'] = "buy"
    # 밴드 사이에 수정 주가가 존재하는 경우
    else:
        # 현재 보유 상태라면?
        if test_df.shift().loc[i, 'trade'] == 'buy':
            # 아무 행동도 하지 않는다. 
            test_df.loc[i, 'trade'] = "buy"
        else:
            # 아무 행동도 하지 않는다. 
            test_df.loc[i, 'trade'] = ""

In [28]:
test_df['trade'].value_counts()

trade
       3081
buy    1818
Name: count, dtype: int64

### 수익율 계산
- 구매한 날의 수정 주가 
    - 전날의 trade가 "" 오늘의 trade가 "buy"인 날의 수정 주가
- 판매한 날의 수정 주가 
    - 전날의 trade가 "buy" 오늘의 trade가 ""인 날의 수정 주가 
- 수익율 
    - 판매한 날의 수정 주가 / 구매한 날의 수정 주가

In [29]:
# 수익율 파생변수를 생성 
test_df['rtn'] = 1

for i in test_df.index:
    # 구매가를 대입 
    if (test_df.shift().loc[i, 'trade'] == "") & \
        (test_df.loc[i, 'trade'] == "buy"):
        buy = test_df.loc[i, 'Adj Close']
        print(f'매수 일 : {i}, 매수가 : {buy}')
    # 판매가를 대입 
    elif (test_df.shift().loc[i, 'trade'] == "buy") & \
        (test_df.loc[i, 'trade'] == ""):
        sell = test_df.loc[i, 'Adj Close']
        # 수익율 계산
        rtn = sell / buy
        test_df.loc[i, 'rtn'] = rtn
        print(f'매도 일 : {i}, 매도가 : {sell}, 수익율 : {rtn}')

C:\Users\EZEN\AppData\Local\Temp\ipykernel_12276\329899764.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['rtn'] = 1

매수 일 : 2000-01-12 00:00:00, 매수가 : 2.727814
매도 일 : 2000-01-20 00:00:00, 매도가 : 3.551046, 수익율 : 1.3017918377132751
매수 일 : 2000-04-12 00:00:00, 매수가 : 3.418078
매도 일 : 2000-06-20 00:00:00, 매도가 : 3.167784, 수익율 : 0.9267734674281863
매수 일 : 2000-07-24 00:00:00, 매수가 : 3.046547
매도 일 : 2000-08-23 00:00:00, 매도가 : 3.398523, 수익율 : 1.1155327654554485
매수 일 : 2000-09-22 00:00:00, 매수가 : 3.265555
매도 일 : 2001-01-03 00:00:00, 매도가 : 1.024641, 수익율 : 0.31377239091058023
매수 일 : 2001-05-30 00:00:00, 매수가 : 1.237704
매도 일 : 2001-06-25 00:00:00, 매도가 : 1.501138, 수익율 : 1.2128408731005154
매수 일 : 2001-07-18 00:00:00, 매수가 : 1.300903
매도 일 : 2001-10-11 00:00:00, 매도가 : 1.110054, 수익율 : 0.8532949804866313
매수 일 : 2002-02-21 00:00:00, 매수가 : 1.345331
매도 일 : 2002-04-16 00:00:00, 매도가 : 1.610642, 수익율 : 1.1972087166652667
매수 일 : 2002-04-26 00:00:00, 매수가 : 1.439816
매도 일 : 2002-10-25 00:00:00, 매도가 : 0.964883, 수익율 : 0.6701432683065058
매수 일 : 2002-12-05 00:00:00, 매수가 : 0.91545
매도 일 : 2003-02-18 00:00:00, 매도가 : 0.955498, 수익율 : 1.0437467911955869
매수 일 : 2003-04-11 00:00:00, 매수가 : 0.82597
매도 일 : 2003-05-05 00:00:00, 매도가 : 1.006808, 수익율 : 1.2189401552114483
매수 일 : 2003-06-09 00:00:00, 매수가 : 1.050609
매도 일 : 2003-06-18 00:00:00, 매도가 : 1.196405, 수익율 : 1.138772845083185
매수 일 : 2003-09-24 00:00:00, 매수가 : 1.334067
매도 일 : 2004-01-05 00:00:00, 매도가 : 1.387254, 수익율 : 1.0398683124610684
매수 일 : 2004-04-30 00:00:00, 매수가 : 1.613145
매도 일 : 2004-05-25 00:00:00, 매도가 : 1.777713, 수익율 : 1.102016867671536
매수 일 : 2005-04-14 00:00:00, 매수가 : 4.662978
매도 일 : 2005-05-23 00:00:00, 매도가 : 4.975845, 수익율 : 1.0670959631377201
매수 일 : 2005-10-12 00:00:00, 매수가 : 6.163489
매도 일 : 2005-11-03 00:00:00, 매도가 : 7.740343, 수익율 : 1.2558378866255784
매수 일 : 2006-05-18 00:00:00, 매수가 : 7.906785
매도 일 : 2006-07-31 00:00:00, 매도가 : 8.50499, 수익율 : 1.0756571729217375
매수 일 : 2006-12-21 00:00:00, 매수가 : 10.37469
매도 일 : 2007-01-09 00:00:00, 매도가 : 11.584859, 수익율 : 1.1166462805153696
매수 일 : 2007-08-09 00:00:00, 매수가 : 15.817325
매도 일 : 2007-09-04 00:00:00, 매도가 : 18.041189, 수익율 : 1.140596719103894
매수 일 : 2007-11-12 00:00:00, 매수가 : 19.242605
매도 일 : 2008-03-18 00:00:00, 매도가 : 16.622023, 수익율 : 0.8638135533104794
매수 일 : 2008-06-12 00:00:00, 매수가 : 21.682976
매도 일 : 2008-08-13 00:00:00, 매도가 : 22.438858, 수익율 : 1.0348606206085365
매수 일 : 2008-09-04 00:00:00, 매수가 : 20.176205
매도 일 : 2008-10-30 00:00:00, 매도가 : 13.896326, 수익율 : 0.6887482556803919
매수 일 : 2008-12-22 00:00:00, 매수가 : 10.730104
매도 일 : 2009-02-06 00:00:00, 매도가 : 12.479661, 수익율 : 1.1630512621312896
매수 일 : 2009-12-07 00:00:00, 매수가 : 23.64653
매도 일 : 2009-12-24 00:00:00, 매도가 : 26.160727, 수익율 : 1.106324141427939
매수 일 : 2010-01-22 00:00:00, 매수가 : 24.747818
매도 일 : 2010-03-01 00:00:00, 매도가 : 26.154476, 수익율 : 1.0568396777445188
매수 일 : 2010-08-24 00:00:00, 매수가 : 30.026524
매도 일 : 2010-09-08 00:00:00, 매도가 : 32.90366, 수익율 : 1.0958198158401553
매수 일 : 2011-03-16 00:00:00, 매수가 : 41.299767
매도 일 : 2011-07-01 00:00:00, 매도가 : 42.957966, 수익율 : 1.040150323366231
매수 일 : 2011-11-14 00:00:00, 매수가 : 47.463268
매도 일 : 2011-12-27 00:00:00, 매도가 : 50.876015, 수익율 : 1.0719029081604747
매수 일 : 2012-04-16 00:00:00, 매수가 : 72.601524
매도 일 : 2012-06-18 00:00:00, 매도가 : 73.308609, 수익율 : 1.0097392583659814
매수 일 : 2012-10-08 00:00:00, 매수가 : 80.207954
매도 일 : 2013-07-29 00:00:00, 매도가 : 57.243137, 수익율 : 0.7136840443530077
매수 일 : 2013-09-11 00:00:00, 매수가 : 60.184383
매도 일 : 2013-10-18 00:00:00, 매도가 : 65.48336, 수익율 : 1.0880457144505413
매수 일 : 2014-01-03 00:00:00, 매수가 : 70.019096
매도 일 : 2014-03-25 00:00:00, 매도가 : 70.960335, 수익율 : 1.0134426042861222
매수 일 : 2014-10-15 00:00:00, 매수가 : 89.842468
매도 일 : 2014-10-23 00:00:00, 매도가 : 96.557182, 수익율 : 1.0747387527243797
매수 일 : 2014-12-12 00:00:00, 매수가 : 101.508751
매도 일 : 2015-01-28 00:00:00, 매도가 : 106.670677, 수익율 : 1.0508520294964518
매수 일 : 2015-03-11 00:00:00, 매수가 : 113.52774
매도 일 : 2015-04-23 00:00:00, 매도가 : 120.4282, 수익율 : 1.0607821489267735
매수 일 : 2015-06-29 00:00:00, 매수가 : 116.137619
매도 일 : 2015-07-20 00:00:00, 매도가 : 123.169502, 수익율 : 1.0605478488412958
매수 일 : 2015-08-04 00:00:00, 매수가 : 106.914131
매도 일 : 2015-10-22 00:00:00, 매도가 : 108.203766, 수익율 : 1.0120623437513607
매수 일 : 2015-12-14 00:00:00, 매수가 : 105.825577
매도 일 : 2016-03-01 00:00:00, 매도가 : 95.095795, 수익율 : 0.8986088022936081
매수 일 : 2016-04-27 00:00:00, 매수가 : 92.532272
매도 일 : 2016-05-24 00:00:00, 매도가 : 93.171783, 수익율 : 1.0069112212007503
매수 일 : 2016-06-20 00:00:00, 매수가 : 90.507019
매도 일 : 2016-07-18 00:00:00, 매도가 : 95.008583, 수익율 : 1.0497371811571874
매수 일 : 2016-09-09 00:00:00, 매수가 : 98.680893
매도 일 : 2016-09-14 00:00:00, 매도가 : 106.948166, 수익율 : 1.0837778494768993
매수 일 : 2016-11-01 00:00:00, 매수가 : 106.680237
매도 일 : 2016-12-13 00:00:00, 매도가 : 110.786522, 수익율 : 1.0384915249110291
매수 일 : 2017-06-09 00:00:00, 매수가 : 144.5
매도 일 : 2017-07-13 00:00:00, 매도가 : 143.32637, 수익율 : 0.9918779930795848
매수 일 : 2017-09-20 00:00:00, 매수가 : 151.971283
매도 일 : 2017-10-16 00:00:00, 매도가 : 155.681183, 수익율 : 1.0244118489149032
매수 일 : 2018-01-29 00:00:00, 매수가 : 164.136932
매도 일 : 2018-05-04 00:00:00, 매도가 : 180.378143, 수익율 : 1.0989491566712115
매수 일 : 2018-06-25 00:00:00, 매수가 : 179.438583
매도 일 : 2018-08-01 00:00:00, 매도가 : 198.47876, 수익율 : 1.106109715545402
매수 일 : 2018-11-02 00:00:00, 매수가 : 205.085831
매도 일 : 2019-01-30 00:00:00, 매도가 : 163.913071, 수익율 : 0.799241323502256
매수 일 : 2019-05-13 00:00:00, 매수가 : 185.720001

In [30]:
# 누적 수익율
acc_rtn = 1

for i in test_df.index:
    rtn = test_df.loc[i, 'rtn']
    acc_rtn *= rtn

acc_rtn

1.1789030091101498

In [31]:
test_df['acc_rtn'] = test_df['rtn'].cumprod()

C:\Users\EZEN\AppData\Local\Temp\ipykernel_12276\2922275961.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['acc_rtn'] = test_df['rtn'].cumprod()

In [32]:
test_df.tail()

             Adj Close    center          ub          lb trade  rtn   acc_rtn
Date
2019-06-18  198.449997  185.4325  201.032574  169.832427   buy  1.0  1.178903
2019-06-19  197.869995  185.9960  202.558154  169.433846   buy  1.0  1.178903
2019-06-20  199.460007  186.8300  204.361771  169.298229   buy  1.0  1.178903
2019-06-21  198.779999  187.7860  205.751400  169.820600   buy  1.0  1.178903
2019-06-24  199.169998  188.7960  206.944862  170.647138   buy  1.0  1.178903

### 볼린저 밴드를 함수화
1. 1번 함수(밴드 생성) create_band()
    - 매개변수 4개 (데이터프레임, 기준이 되는 컬럼명, 시작시간, 종료시간)
    - 인덱스가 Date인지를 확인하여 인덱스가 Date가 아니면 Date 컬럼을 인덱스로 변환
    - 인덱스를 시계열 데이터로 변경
    - 기준이 되는 컬럼을 제외하고 모두 삭제
    - 결측치, 이상치(무한대) 값들을 제거 
    - 이동 평균선, 상단 밴드, 하단 밴드 파생변수를 생성
    - 시간시간과 종료시간으로 데이터를 필터링 
    - 위의 과정에서 나온 데이터프레임을 리턴 
2. 2번 함수(트레이드 생성) create_trade()
    - 매개변수가 1개 (데이터프레임) -> 1번 과정에서 나온 결과값 대입
    - trade 라는 파생변수를 생성하여 데이터는 ""로 대입
    - 볼린저밴드를 이용하여 거래 내역을 추가 
    - 결과값을 리턴
3. 3번 함수( 수익율 계산 ) create_rtn()
    - 매개변수는 1개 (데이터프레임) -> 2번 과정에서 나온 결과값 대입
    - 수익율 파생변수 생성하여 데이터는 1로 대입
    - 구매한 날의 데이터와 판매한 날의 데이터를 가지고 수익율을 생성하여 대입
    - 누적 수익율을 계산하여 새로운 파생변수에 대입 
    - 최종 누적 수익율을 print을 이용하여 출력
    - 결과(데이터프레임)를 리턴

In [33]:
# 첫번째 함수 생성 
def create_band(
        _df, 
        _col = 'Adj Close', 
        _start="2010-01-01", 
        _end = '2023-12-31', 
        _roll = 20
    ):
    # 컬럼에 Date가 존재한다면
    if 'Date' in _df.columns:
        _df.set_index('Date', inplace=True)
    # index를 시계열 변경 
    _df.index = pd.to_datetime(_df.index)

    # 특정 컬럼의 제외하고 모두 제거 
    price_df = _df[[_col]]
    # 결측치, 무한대 값이 존재하는 인덱스 조건식
    flag = price_df.isin([np.nan, np.inf, -np.inf]).any(axis=1)
    # 결측치, 무한대를 제거 
    price_df = price_df.loc[~flag]

    # 이동 평균선 생성
    price_df['center'] = price_df[_col].rolling(_roll).mean()
    # 상단 밴드 생성
    price_df['ub'] = price_df['center'] + (2 * price_df[_col].rolling(_roll).std())
    # 하단 밴드 생성
    price_df['lb'] = price_df['center'] - (2 * price_df[_col].rolling(_roll).std())

    # 시작시간과 종료 시간을 기준으로 필터링 
    start = datetime.strptime(_start, '%Y-%m-%d')
    end = datetime.strptime(_end, '%Y-%m-%d')
    price_df = price_df.loc[start:end]
    return price_df

In [35]:
df = pd.read_csv("../csv/AMZN.csv")

In [36]:
df2 = create_band(df, 'Close', '2000-01-01', '2023-12-04')
df2.tail()

                  Close       center           ub           lb
Date
2019-06-18  1901.369995  1821.456500  1935.384678  1707.528322
2019-06-19  1908.790039  1824.020001  1943.535145  1704.504858
2019-06-20  1918.189941  1826.945495  1952.830613  1701.060378
2019-06-21  1911.300049  1831.736499  1962.964470  1700.508528
2019-06-24  1907.953857  1835.970190  1971.444249  1700.496132

In [37]:
df2.columns[0]

'Close'

In [39]:
# 두번째 함수 
def create_trade(_df):
    # 첫번째 함수에서 지정한 컬럼의 이름이 무엇인가? -> _df의 컬럼중 첫번째 데이터
    col = _df.columns[0]

    # 거래 내역 컬럼을 추가 
    _df['trade'] = ""

    # 거래 내역을 추가 
    for i in _df.index:
        # 상단밴드보다 col의 값이 높은 경우
        if _df.loc[i, col] > _df.loc[i, 'ub']:
            _df.loc[i, 'trade'] = ""
        # 하단밴드보다 col의 값이 낮은 경우
        elif _df.loc[i, col] < _df.loc[i, 'lb']:
            _df.loc[i, 'trade'] = 'buy'
        # col의 값이 밴드 사이에 존재한다면
        else:
            # 보유 상태라면 
            if _df.shift().loc[i, 'trade'] == 'buy':
                _df.loc[i, 'trade'] = 'buy'
            else:
                _df.loc[i, 'trade'] = ''
        
    return _df

In [40]:
df3 = create_trade(df2)
df3.tail()

                  Close       center           ub           lb trade
Date
2019-06-18  1901.369995  1821.456500  1935.384678  1707.528322   buy
2019-06-19  1908.790039  1824.020001  1943.535145  1704.504858   buy
2019-06-20  1918.189941  1826.945495  1952.830613  1701.060378   buy
2019-06-21  1911.300049  1831.736499  1962.964470  1700.508528   buy
2019-06-24  1907.953857  1835.970190  1971.444249  1700.496132   buy

In [41]:
df3['trade'].value_counts()

trade
       2942
buy    1957
Name: count, dtype: int64

In [42]:
# 세번째 함수 생성 
def create_rtn(_df):
    # 기준이 되는 컬럼의 이름 
    col = _df.columns[0]
    # 수익율 파생변수 생성 데이터는 1로 대입
    _df['rtn'] = 1

    # 수익율 대입 
    for i in _df.index:
        # 구입
        if (_df.shift().loc[i, 'trade'] == "") & \
            (_df.loc[i, 'trade'] == "buy"):
            buy = _df.loc[i, col]
            print(f'매수일 : {i}, 매수가 : {buy}')
        # 판매
        elif (_df.shift().loc[i, 'trade'] == "buy") & \
            (_df.loc[i, 'trade'] == ""):
            sell = _df.loc[i, col]
            # 수익율 발생
            rtn = sell / buy
            # 수익율 대입 
            _df.loc[i, 'rtn'] = rtn
            # 출력 
            print(f'매도일 : {i}, 매도가 : {sell}, 수익율 : {rtn}')
    _df['acc_rtn'] = _df['rtn'].cumprod()
    # 최종 누적수익율을 출력
    print(_df['acc_rtn'][-1])
    return _df

In [43]:
create_rtn(df3)

매수일 : 2000-01-05 00:00:00, 매수가 : 69.75
매도일 : 2000-02-03 00:00:00, 매도가 : 84.1875, 수익율 : 1.206989247311828
매수일 : 2000-04-12 00:00:00, 매수가 : 56.375
매도일 : 2000-05-17 00:00:00, 매도가 : 61.0, 수익율 : 1.082039911308204
매수일 : 2000-05-23 00:00:00, 매수가 : 46.6875
매도일 : 2000-09-05 00:00:00, 매도가 : 45.6875, 수익율 : 0.9785809906291834
매수일 : 2000-10-02 00:00:00, 매수가 : 35.875
매도일 : 2001-01-18 00:00:00, 매도가 : 19.5, 수익율 : 0.5435540069686411
매수일 : 2001-04-02 00:00:00, 매수가 : 9.1
매도일 : 2001-04-11 00:00:00, 매도가 : 13.32, 수익율 : 1.4637362637362639
매수일 : 2001-05-14 00:00:00, 매수가 : 13.33
매도일 : 2001-10-15 00:00:00, 매도가 : 8.88, 수익율 : 0.6661665416354089
매수일 : 2002-01-16 00:00:00, 매수가 : 9.13
매도일 : 2002-01-24 00:00:00, 매도가 : 14.01, 수익율 : 1.5345016429353777
매수일 : 2002-04-11 00:00:00, 매수가 : 12.74
매도일 : 2002-04-24 00:00:00, 매도가 : 16.790001, 수익율 : 1.3178964678178964
매수일 : 2002-06-25 00:00:00, 매수가 : 15.34
매도일 : 2002-08-20 00:00:00, 매도가 : 15.98, 수익율 : 1.0417209908735332
매수일 : 2002-12-26 00:00:00, 매수가 : 20.299999
매도일 : 2003-03-13 00:00:00, 매도가 : 24.42, 수익율 : 1.2029557242835334
매수일 : 2003-11-17 00:00:00, 매수가 : 50.360001
매도일 : 2004-04-02 00:00:00, 매도가 : 46.09, 수익율 : 0.9152104663381561
매수일 : 2004-04-30 00:00:00, 매수가 : 43.599998
매도일 : 2004-05-27 00:00:00, 매도가 : 47.619999, 수익율 : 1.0922018620276084
매수일 : 2004-07-19 00:00:00, 매수가 : 46.02
매도일 : 2004-09-14 00:00:00, 매도가 : 42.669998, 수익율 : 0.9272055193394175
매수일 : 2004-10-19 00:00:00, 매수가 : 38.330002
매도일 : 2004-12-27 00:00:00, 매도가 : 42.25, 수익율 : 1.1022697050733261
매수일 : 2005-02-03 00:00:00, 매수가 : 35.75
매도일 : 2005-06-01 00:00:00, 매도가 : 36.5, 수익율 : 1.020979020979021
매수일 : 2005-06-28 00:00:00, 매수가 : 33.709999
매도일 : 2005-07-27 00:00:00, 매도가 : 43.650002, 수익율 : 1.2948680894354223
매수일 : 2005-08-24 00:00:00, 매수가 : 42.369999
매도일 : 2005-09-30 00:00:00, 매도가 : 45.299999, 수익율 : 1.0691527040158768
매수일 : 2005-10-26 00:00:00, 매수가 : 39.75
매도일 : 2006-04-05 00:00:00, 매도가 : 37.34, 수익율 : 0.93937106918239
매수일 : 2006-05-12 00:00:00, 매수가 : 32.73
매도일 : 2006-06-21 00:00:00, 매도가 : 36.650002, 수익율 : 1.1197678582340362
매수일 : 2006-07-14 00:00:00, 매수가 : 32.919998
매도일 : 2006-08-30 00:00:00, 매도가 : 30.67, 수익율 : 0.9316525474880042
매수일 : 2007-01-08 00:00:00, 매수가 : 37.5
매도일 : 2007-02-07 00:00:00, 매도가 : 38.98, 수익율 : 1.0394666666666665
매수일 : 2007-11-09 00:00:00, 매수가 : 78.889999
매도일 : 2007-12-04 00:00:00, 매도가 : 94.410004, 수익율 : 1.1967296893995396
매수일 : 2008-01-11 00:00:00, 매수가 : 81.080002
매도일 : 2008-03-24 00:00:00, 매도가 : 75.949997, 수익율 : 0.9367290962819661
매수일 : 2008-06-27 00:00:00, 매수가 : 74.660004
매도일 : 2008-07-24 00:00:00, 매도가 : 78.720001, 수익율 : 1.0543798122486037
매수일 : 2008-09-17 00:00:00, 매수가 : 71.540001
매도일 : 2008-12-08 00:00:00, 매도가 : 51.41, 수익율 : 0.7186189443860924
매수일 : 2009-05-13 00:00:00, 매수가 : 74.190002
매도일 : 2009-06-01 00:00:00, 매도가 : 83.050003, 수익율 : 1.1194231131035688
매수일 : 2009-07-07 00:00:00, 매수가 : 75.629997
매도일 : 2009-07-20 00:00:00, 매도가 : 88.230003, 수익율 : 1.1666006412772962
매수일 : 2009-08-31 00:00:00, 매수가 : 81.190002
매도일 : 2009-09-16 00:00:00, 매도가 : 90.699997, 수익율 : 1.117132587335076
매수일 : 2010-05-04 00:00:00, 매수가 : 129.830002
매도일 : 2010-08-04 00:00:00, 매도가 : 127.580002, 수익율 : 0.9826696451872502
매수일 : 2010-11-16 00:00:00, 매수가 : 157.779999
매도일 : 2010-11-24 00:00:00, 매도가 : 177.25, 수익율 : 1.1233996775472155
매수일 : 2011-01-21 00:00:00, 매수가 : 177.419998
매도일 : 2011-03-30 00:00:00, 매도가 : 179.419998, 수익율 : 1.0112726864082142
매수일 : 2011-06-06 00:00:00, 매수가 : 185.690002
매도일 : 2011-06-27 00:00:00, 매도가 : 201.25, 수익율 : 1.0837955615941024
매수일 : 2011-08-04 00:00:00, 매수가 : 201.479996
매도일 : 2011-10-14 00:00:00, 매도가 : 246.710007, 수익율 : 1.2244888420585436
매수일 : 2011-10-26 00:00:00, 매수가 : 198.399994
매도일 : 2012-01-18 00:00:00, 매도가 : 189.440002, 수익율 : 0.9548387486342363
매수일 : 2012-10-10 00:00:00, 매수가 : 244.990005
매도일 : 2012-11-29 00:00:00, 매도가 : 251.270004, 수익율 : 1.0256336947297096
매수일 : 2013-04-29 00:00:00, 매수가 : 249.740005
매도일 : 2013-06-07 00:00:00, 매도가 : 276.869995, 수익율 : 1.1086329360808655
매수일 : 2013-08-14 00:00:00, 매수가 : 291.339996
매도일 : 2013-09-18 00:00:00, 매도가 : 312.029999, 수익율 : 1.0710166928127507
매수일 : 2014-01-24 00:00:00, 매수가 : 387.600006
매도일 : 2014-03-05 00:00:00, 매도가 : 372.369995, 수익율 : 0.9607068865731648
매수일 : 2014-03-24 00:00:00, 매수가 : 351.850006
매도일 : 2014-06-05 00:00:00, 매도가 : 323.570007, 수익율 : 0.9196248443434728
매수일 : 2014-09-15 00:00:00, 매수가 : 323.890015
매도일 : 2014-11-14 00:00:00, 매도가 : 327.820007, 수익율 : 1.0121337238506718
매수일 : 2015-01-15 00:00:00, 매수가 : 286.950012
매도일 : 2015-01-30 00:00:00, 매도가 : 354.529999, 수익율 : 1.2355113579852366
매수일 : 2015-03-10 00:00:00, 매수가 : 369.51001
매도일 : 2015-04-08 00:00:00, 매도가 : 381.200012, 수익율 : 1.031636496126316
매수일 : 2015-08-20 00:00:00, 매수가 : 515.780029
매도일 : 2015-10-23 00:00:00, 매도가 : 599.030029, 수익율 : 1.1614060167498266
매수일 : 2015-12-11 00:00:00, 매수가 : 640.150024
매도일 : 2015-12-29 00:00:00, 매도가 : 693.969971, 수익율 : 1.0840739592005388
매수일 : 2016-01-04 00:00:00, 매수가 : 636.98999
매도일 : 2016-03-29 00:00:00, 매도가 : 593.859985, 수익율 : 0.9322909218714724
매수일 : 2016-06-24 00:00:00, 매수가 : 698.960022
매도일 : 2016-07-06 00:00:00, 매도가 : 737.609985, 수익율 : 1.055296385749513
매수일 : 2016-10-28 00:00:00, 매수가 : 776.320007
매도일 : 2017-01-06 00:00:00, 매도가 : 795.98999, 수익율 : 1.0253374675683193
매수일 : 2017-08-10 00:00:00, 매수가 : 956.919983
매도일 : 2017-09-13 00:00:00, 매도가 : 999.599976, 수익율 : 1.0446014230638132
매수일 : 2017-09-25 00:00:00, 매수가 : 939.789978
매도일 : 2017-10-27 00:00:00, 매도가 : 1100.949951, 수익율 : 1.1714850943005055
매수일 : 2018-03-28 00:00:00, 매수가 : 1431.420044
매도일 : 2018-06-01 00:00:00, 매도가 : 1641.540039, 수익율 : 1.1467912901462767
매수일 : 2018-10-08 00:00:00, 매수가 : 1864.420044
매도일 : 2019-03-01 00:00:00, 매도가 : 1671.72998, 수익율 : 0.896648791874928
매수일 : 2019-05-13 00:00:00, 매수가 : 1822.680054
9.819051673453226

,Close,center,ub,lb,trade,rtn,acc_rtn
Date,,,,,,,
2000-01-03,89.375000,91.615625,108.803216,74.428034,,1.0,1.000000
2000-01-04,81.937500,91.325000,108.978071,73.671929,,1.0,1.000000
2000-01-05,69.750000,90.509375,110.534247,70.484503,buy,1.0,1.000000
2000-01-06,65.562500,89.359375,112.286422,66.432328,buy,1.0,1.000000
2000-01-07,69.562500,87.656250,111.174353,64.138147,buy,1.0,1.000000
...,...,...,...,...,...,...,...
2019-06-18,1901.369995,1821.456500,1935.384678,1707.528322,buy,1.0,9.819052
2019-06-19,1908.790039,1824.020001,1943.535145,1704.504858,buy,1.0,9.819052
2019-06-20,1918.189941,1826.945495,1952.830613,1701.060378,buy,1.0,9.819052
2019-06-21,1911.300049,1831.736499,1962.964470,1700.508528,buy,1.0,9.819052
2019-06-24,1907.953857,1835.970190,1971.444249,1700.496132,buy,1.0,9.819052

In [44]:
import invest

In [45]:
df = pd.read_csv("../csv/AAPL.csv")

In [46]:
invest1 = invest.Invest(df, _start="2013-01-01", _end="2015-12-31")

In [ ]:
invest1.BuyAndHold()

In [ ]:
invest1.Bollinger()

In [ ]:
invest1.Momentum()